:root {
    --primary_color: #132043;
    --secondary_color: #f1b4bb;
    --tertiary_color: #fdf0f0;
    --light_primary_color: #1f4172;
    --grey: #9b9b9b;
    --error_color: #e3919a;
    --highlight_color: rgba(19, 32, 67, 0.3);
  }
  